{% extends 'base.html' %}
{% block content %}
<style>
    .utilities-card {
        margin: 1em .5em;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card utilities-card">
                <div class="card-header bg-info text-white ">Mouth/Year</div>
                <div class="card-body">
                    <p class="card-text">Underpayment: 3487.68</p>
                    <p class="card-text">Amount to pay: 4198.54</p>
                    <p class="card-text">Payments last mouth: 5000</p>
                    <h4 class="card-title">To pay: 2686.22</h4>
                    
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary btn-block" role="button">More Info</a>
                    <a href='#' class="btn btn-success btn-block" role="button">Edit</a>
                    <a href='#' class="btn btn-danger btn-block" role="button">Delete</a>
                </div> 
            </div>
        </div>
        <div class="col-sm-4">
                <div class="card utilities-card">
                    <div class="card-header bg-info text-white ">Mouth/Year</div>
                    <div class="card-body">
                        <p class="card-text">Underpayment: 3487.68</p>
                        <p class="card-text">Amount to pay: 4198.54</p>
                        <p class="card-text">Payments last mouth: 5000</p>
                        <h4 class="card-title">To pay: 2686.22</h4>
                        
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary btn-block" role="button">More Info</a>
                        <a href='#' class="btn btn-success btn-block" role="button">Edit</a>
                        <a href='#' class="btn btn-danger btn-block" role="button">Delete</a>
                    </div> 
                </div>
            </div>
            
        
    </div>
</div>
{% endblock content %}