{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid bg-info text-white">
    <div class="container">
        <h1>Utilites Check for Mouth/Year</h1>      
        <p>Underpayment: 3487.68</p>
        <p>Amount to pay: 4198.54</p>
        <p>Payments last mouth: 5000</p>
        <h4>To pay: 2686.22</h4>
        <div class="btn-group">
            <a href='#' class="btn btn-success" role="button">Edit</a>
            <a href='#' class="btn btn-danger" role="button">Delete</a>
        </div>
    </div>
</div>
<div class="container"> 

    <div class="table-responsive">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Servises</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Housing Stock</td>
                    <td>1799.74</td>
                </tr>
                <tr>
                    <td>HWS: Thermal energy CP</td>
                    <td>27.53</td>
                </tr>
                <tr>
                    <td>HWS: Cold Water CP</td>
                    <td>6.70</td>
                </tr>
                <tr>
                    <td>Cold Water CP</td>
                    <td>6.70</td>
                </tr>
                <tr>
                    <td>Sewage CP</td>
                    <td>8.93</td>
                </tr>
                <tr>
                    <td>Electricity CP</td>
                    <td>181.54</td>
                </tr>
                <tr>
                    <td>Special account for overhaul</td>
                    <td>29.76</td>
                </tr>
                <tr>
                    <td>Home Heating</td>
                    <td>1419.19</td>
                </tr>
                <tr>
                    <td>HWS: Thermal energy</td>
                    <td>100.31</td>
                </tr>
                <tr>
                    <td>HWS: Cold Water</td>
                    <td>24.95</td>
                </tr>
                <tr>
                    <td>Cold Water</td>
                    <td>124.75</td>
                </tr>
                <tr>
                    <td>Sewage</td>
                    <td>95.76</td>
                </tr>
                <tr>
                    <td>Garbage service</td>
                    <td>159.48</td>
                </tr>
                <tr>
                    <td>Electricity</td>
                    <td>123.20</td>
                </tr>
                <tr>
                    <td>Intercom Maintenance</td>
                    <td>30.00</td>
                </tr>
                <tr>
                    <td>Gate Maintenance</td>
                    <td>30.00</td>
                </tr>
                <tr>
                    <td>CCTV Maintenance</td>
                    <td>30.00</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td>4198.54</td>
                </tr>
            </tfoot>
        </table>
    </div>    
    <div class="table-responsive">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Servises</th>
                    <th>Norm</th>
                    <th>Consumption</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>HWS: Cold Water</td>
                    <td>3.3</td>
                    <td>1.000</td>
                </tr>
                <tr>
                    <td>Cold Water</td>
                    <td>5.26</td>
                    <td>5.0</td>
                </tr>
                <tr>
                    <td>Sewage</td>
                    <td>7.56</td>
                    <td>6.0</td>
                </tr>
                <tr>
                    <td>Electricity</td>
                    <td>119</td>
                    <td>70.00</td>
                </tr>
            </tbody>
        </table>
    </div> 
</div>
{% endblock content %}