{% extends 'base.html' %}
{% block content %}
<style>
    .utilities-col {
        padding: 1em .5em;
    }
</style>
<div class="container-fluid">
    <div class="row">
        {% for utilities in utilities_list %}
        <div class="col-sm-4 utilities-col">
            <div class="card text-center w-100">
                <div class="card-header bg-info text-white">{{ utilities }}</div>
                <div class="card-body text-white">
                    <p class="card-text">Underpayment: {{ utilities.underpayment }}</p>
                    <p class="card-text">Amount to pay: {{ utilities.amount_to_pay }}</p>
                    <p class="card-text">Payments last mouth: {{ utilities.payments_last_mouth }}</p>
                    <h4 class="card-title">To pay: {{ utilities.to_pay }}</h4>
                </div>
                <div class="card-footer">
                    <a href="{% url 'utilities:detail' utilities.pk %}" class="btn btn-primary btn-block" role="button">More Info</a>
                    <a href="{% url 'utilities:edit' utilities.pk %}" class="btn btn-success btn-block" role="button">Edit</a>
                    <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-utilities="{{ utilities }}" data-pk="{{ utilities.pk }}" data-target="#deleteModal">
                        Delete
                    </button>
                </div> 
            </div>
        </div>
        {% endfor %}
    </div>


    {% if is_paginated %}
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %}

    <!-- The Delete Modal -->
    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            
                <div class="modal-header">
                    <h4 class="modal-title">Delete Entry</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <div class="modal-body">
                    Are you sure you want to delete Entry for 
                </div>
                
                <div class="modal-footer">
                    <form id="delete-form" method="POST">
                        {% csrf_token %}
                        <input class="btn btn-danger" type="submit" value="Delete">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#deleteModal').on('show.bs.modal', function(e) {
        //Get data-id attribute of the clicked element
        var utilities = $(e.relatedTarget).data('utilities');
        var pk = $(e.relatedTarget).data('pk');
        //Make delete url
        url = "{% url 'utilities:delete' pk=12345 %}".replace(/12345/, pk.toString());
        //Populate the body
        $('.modal-body').html(`Are you sure you want to delete Entry for ${utilities}?`);
        //Set action
        $('#delete-form').attr('action', url);;
    });
</script>
{% endblock content %}