#error .error {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.error {
    max-width: 767px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
}

.error .error-num {
    position: relative;
    height: 180px;
    margin-bottom: 20px;
    z-index: -1;
}

.error a {
    display: inline-block;
    text-transform: uppercase;
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 700;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}