{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Log In{% endblock title %}

{% block content %}
<div class="container" align="center">
  <h2 class="form-header">Log In</h2>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button  class="btn btn-outline-success btn-block" type="submit">Log In</button>

    <p class="form-header">Forgot your password?</p>
    <a class="btn btn-outline-info btn-block" href="{% url 'password_reset' %}">
      Restore password
    </a>

  </form>
</div>
{% endblock content %}