{% extends 'base.html' %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block title %}{% trans 'Log In'%}{% endblock title %}

{% block content %}
<div class="container" align="center">
  <h2 class="form-header">{% trans 'Log In'%}</h2>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button  class="btn btn-outline-success btn-block" type="submit">{% trans 'Log In'%}</button>

    <p class="form-header">{% trans 'Forgot your password?'%}</p>
    <a class="btn btn-outline-info btn-block" href="{% url 'password_reset' %}">
      {% trans 'Restore password'%}
    </a>

  </form>
</div>
{% endblock content %}