{% extends 'base.html' %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block title %}{% trans 'Password Reset'%}{% endblock title %}

{% block content %}
<div class="container">
    {% if validlink %}

    <h4 class="form-header">{% trans 'Please enter your new password twice so we can verify you typed it in correctly.'%}</h4>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
    <input class="btn btn-outline-success btn-block" type="submit" value="{% trans 'Change my password'%}">
    </form>

    {% else %}

    <h4 class="form-header">{% trans 'The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.'%}</h4>

    {% endif %}
</div>
{% endblock %}