{% extends 'base.html' %}

{% load i18n %}

{% load crispy_forms_tags %}

{% block title %}{% trans 'Password change' %}{% endblock title %}

{% block content %}
<div class="container">
    <h4 class="form-header">{% trans 'Password change' %}</h4>
    <p class="form-help-text">
        {% trans 'Please enter your old password, for security\'s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}
    </p>

    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-outline-success btn-block" type="submit" value="{% trans 'Change my password' %}">
    </form>
</div>
{% endblock content %}