{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'About' %}{% endblock %}

{% block content %}

<div class="container">
    <div class="card text-info border-info" style="margin: .5em 1em;">
        <div class="card-body">
            <h1 class="card-title">
                {% trans 'About' %} 
                <a class="text-info" href="https://github.com/TheSuperiorStanislav/practice-django-utilities_stats" target="_blank">
                    <i class="fa">&#xf113;</i>
                </a>
            </h1>
            <p>
                {% trans 'Umm, well, this is a small project built on Django for collecting and showing utilities checks stats data. Probably useless, made it just to practice Django.' %}
            </p>
        <div>
    </div>
    
</div>

{% endblock content %}