{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />
<div class="container-fluid" style="margin-top: 1em;" align="center">
    {% if not is_stat_data_empty %}
    {% for field, years in stat_data.items  %}
        <h2>{{ field|format_field }}</h2> 
        <ul class="nav nav-tabs">
            {% for year in years %}
            <li class="nav-item">
                <a class="nav-link text-white" data-toggle="pill" href="#{{ field }}_{{ year }}">{{ year }}</a>
            </li>
            {% endfor %}
        </ul>
        <div class="tab-content" style="margin-bottom: 1em;">
            {% for year, data in years.items %}
                <div class="tab-pane container-fluid fade" id="{{ field }}_{{ year }}" style="padding: 1em .5em;">
                    <p>Avg: {{ data|get_item:'avg' }}</p>
                    <p>Sum: {{ data|get_item:'sum' }}</p>
                    <p>Max: {{ data|get_item:'max' }}</p>
                    <p>Min: {{ data|get_item:'min' }}</p>
                    <canvas id="{{ field }}_{{ year }}_visualization"></canvas>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    {% else %}
    <h2>No data to work with.</h2>
    <a href="{% url 'utilities:create' %}" class="btn btn-success" role="button">Add Entry</a>
    {% endif %}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>
    var stat_data = JSON.parse('{{ stat_data|js }}')
</script>
<script src="{% static 'js/drawgraphs.js' %}"></script>
{% endblock content %}